#page-video-recorder {
    width: 90vw;
    max-width:
    var(--page-max-width);
}

.hideItens {
    display: none;
}

video {
    width: 100%;
}

.displayFlex {
    display: flex;
    justify-content: center;
    align-items: center
}

#timerContainer {
    height: 1.5rem;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 2rem 0;
    color: var(--color-font-primary);
}

.div-buttons button, .div-buttons label {
    font-size: 1.2rem;
}

.div-buttons label {
    margin: 0 0.5rem 0 0;
}

.div-buttons button svg, .div-buttons label svg  {
    margin-right: 0.2rem;
}

.div-buttons button + button {
    margin-left: 0.5rem;
}

#back-button {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

#back-button button {
    min-width: 6rem;
    font-size: 1rem;
}

#question {
    display: flex; 
    justify-content: center;
    margin:  0 0 0.5rem 0;
}

#question p {
    font-size: 1.5rem;
    color: var(--color-font-secondary);
    text-align: center;
}

@media (min-width: 1200px) {
    #recorder-block {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    video {
        width: 60%;
    }

    .div-buttons button, .div-buttons label {
        font-size: 1.5rem;
    }

    .div-buttons button svg, .div-buttons label svg {
        margin-right: 0.5rem;
    }
}
