:root {
    --color-background: #FFF;
    --color-font-primary: #0047a8;
    --color-font-secondary: #ea0870;

    --font-family: Bariol Regular, sans-serif;

    --image-logo: ../images/logo-sys-with-name.svg;

    --page-max-width: 1140px;
}

@font-face {
    font-family: Bariol Regular;
    src: url(../fonts/bariol_light-webfont.ttf); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
}

/*
#page-content {
    width: 100vw;
}

@media (min-width:1200px) {
    #page-content {
        display: flex;
        flex-direction: column;
    }
}
*/