:root {
    --color-background: #FFF;
    --color-font-primary: #0047a8;
    --color-font-secondary: #ea0870;

    --font-family-bold: Bariol Regular, sans-serif;
    --font-family-light: Bariols Light, sans-serif;

    --image-logo: ../images/logo-sys-with-name.svg;
    --image-not-found: ../images/image-not-found.png;

    --page-max-width: 1140px;
}

@font-face {
    font-family: Bariol Regular;
    src: url(../fonts/bariol_regular-webfont.ttf); 
}

@font-face {
    font-family: Bariol Light;
    src: url(../fonts/bariol_light-webfont.ttf); 
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-bold);
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    overflow-x: hidden;
}

.router-content {
   display: flex;
   justify-content: center;
   min-height: 150px;
   flex-direction: column;
}

.page-position {
    align-self: center;
}

.hide-long-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 25px;
    width: auto;
    max-width: auto;
    text-decoration: none;
    transition: 0.4s;
    border: 0;
}

.button-secondary {
    border: 1px solid var(--color-font-primary);
    color: var(--color-font-primary);
}

.button-secondary:hover {
    border: 1px solid var(--color-font-secondary);
    color: var(--color-font-secondary);
}

.button-primary {
    background-color: var(--color-font-primary);
    color: #fff;
    border: 0;
}

.button-primary:hover {
    background-color: var(--color-font-secondary);
}

a:visited {
    color: var(--color-font-primary);
}

/*
#page-content {
    width: 100vw;
}

@media (min-width:1200px) {
    #page-content {
        display: flex;
        flex-direction: column;
    }
}
*/