:root {
    --color-background: #FFF;

    --font-family: Bariol Regular, sans-serif;

    --image-logo: ../images/logo-sys-with-name.svg;
}

@font-face {
    font-family: Bariol Regular;
    src: url(../fonts/bariol_regular-webfont.ttf); 
}

* {
    background-color: var(--color-background);
    font-family: var(--font-family);
}