#page-opportunities {
    width: 90vw;
    max-width: var(--page-max-width);
}

#page-opportunities .opportunities {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.opportunities-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 20px;
    font-family: var(--font-family-light);
    border: unset;
    cursor: pointer;
    color: rgba(0,0,0,0.9);
}

.opportunities-card h3 {
    padding-right: 40px;  
    font-size: 18px;
    color: #505050;
}

.opportunities-card-closed { /* Used to hide / show opportunitie*/
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.div-car strong {
    color: var(--color-font-primary);
}

.vagasDisp {
    font-weight: 100;
    margin-bottom: 25px;
    color: var(--color-font-primary);
}

#page-opportunities .opportunities-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page-opportunities .opportunities-list h1 {
    color: var(--color-font-secondary);
    margin-bottom: 1.2rem;
}

#page-opportunities .opportunitie-description {
    padding: 0 20px 40px 20px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    transition: 0.2s;
    position: relative;
    width: 100%;
}

#page-opportunities .opportunitie-description p {
    text-align: justify;
}

#page-opportunities .opportunitie-description-closed {
    display: none;
}

#page-opportunities .opportunitie-description-none {
    display: none;
}

#page-opportunities .opportunitie-description strong {
    margin-top: 0.5rem;
}

#page-opportunities .opportunitie-button {
    align-self: center;
    margin-top: 1.5rem;
    font-size: 1rem;
}

#search-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#search-items input {
    width: 100%;
    border: 1px solid rgba(0,0,0,0.3);
    font-size: 1rem;
    padding: 10px;
}

#search-items div{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

#search-items button + button{
    margin: 0 0 0 0.5rem;
}

#search-items button {
    font-size: 1rem;
}

#search-button {    
    width: 154px;
}

div#div-pagination {
    display: flex;
    justify-content: center;
    margin: 1rem  0 0 0;
}

nav.MuiPagination-root ul li button {
    width: 2rem;
    height: 2rem;
    min-width: unset !important;
    font-size: 1rem;
}

.MuiPaginationItem-page.Mui-selected {
    background-color: var(--color-font-primary)!important;
    color: #fff;
}

@media (min-width: 800px) {
    #search-items {
        flex-direction: row;
        margin-bottom: 50px;
    }

    #search-items input {
        width: 100%;
        margin: 0;
        height: 100%;
    }

    #search-items div {
        width: auto;
        margin-top: 0px;
    }

    div#div-pagination {
        margin: 60px 0 80px 0;
    }
    #search-items button {
        margin: 0 0 0 1rem;
    }


}