#page-video-resume {
    width: 90vw;
    max-width: var(--page-max-width);
}

#selected-file {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

#selected-file div {
    width: 100%;
}

.send-button {
    font-size: 1rem;
}

#selected-file p {
    font-size: 1.3rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.page-video-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-marketing {
    width: 100%;
}

.video-description {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.video-description h1 {
    color: var(--color-font-secondary);
}

.video-description > p {
    font-size: 	1.2rem;
    margin-top: 1rem;
    text-align: center;
}

.video-buttons {
    display: flex;
    margin: 1.5rem 0 0 0;
    flex-direction: column;
}

.video-view {
    width: 100%;
}

.video-buttons .button-primary  {
    margin: 1rem 0;
    color: #fff;
}

.button-secondary {
    cursor: pointer;
}

#video-resume {
    display: none;
}

.error-div {
    width: 100%;
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    margin-top: 1rem;
    padding: 0.1rem 0;
}

.hide-error {
    display: none;
}

#loading-div.loading {
    background-color: #fff;
    opacity: 0.5;
    width: 100%;
    height: 280%;
    left: 0;
    top: 0;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
}

.not-loading {
    display: none;
}

@media (min-width: 1200px) {
    #loading-div.loading {
        height: 170%;
    }

    .page-video-content {
        flex-direction: row;
    }

    .video-marketing {
        width: 40%;
    }

    .video-description {
        width: 60%;
    }

    .video-marketing iframe {
        width: 100%;
    }

    .video-description {
        padding: 0 0 0 1.5rem;
        font-size: 1rem;
        align-items: initial;
        margin: 0
    }

    .video-description h1 {
        font-size: 1.5rem;
        align-self: initial;
    }

    .video-description p {
        margin: 0.5rem 0 0 0;
        text-align: justify;
    }

    .video-buttons {
        margin-top: 1rem;
        flex-direction: row;
    }

    .video-buttons .button-primary{
        margin: 0 1rem;
    }

    .error-div {
        position: absolute;
        bottom: -30px;
        z-index: 10;
        margin: 0;
        width: auto;
        height: auto;
        padding: 0 1rem;
    }
    
    #selected-file {
        flex-direction: row;
        margin: 0;
        justify-content: left;
    }

    #selected-file span{
        max-width: 40%;
    }

    #selected-file p {
        width: 60%;
        margin: 0.5rem 1rem;
    }
}