:root {
    --background-color-dark: #4A4A49;
    --background-color-darker: #3C3C3C;
}

#page-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 2.5rem;
}

#page-footer .div-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-dark);
    color: #fff;
}

#page-footer .div-image {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

#page-footer .div-image img {
    height: 5rem;
    max-height: 250px;
}

#page-footer .div-copyright {
    display: flex;
    justify-content: center;
    background-color: var(--background-color-darker);
    color: #fff;
}

#page-footer .div-footer, #page-footer .div-copyright {
    width: 100vw;
    max-width: var(--page-max-width);
    padding: 2.5rem 10vw;
}

#page-footer .div-info {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    align-items: center
}

.div-info + .div-info {
    margin: 1.5rem 0;
}

@media (min-width: 1200px) {
    #page-footer .div-footer, #page-footer .div-copyright {
        max-width: unset;
    }

    #page-footer .div-info {
        font-size: 1.2rem;
    }
    
    #page-footer .div-footer {
        flex-direction: row;
        justify-content: center;
    }

    #page-footer .div-info {
        align-items: inherit;
    }

    #page-footer .div-footer .div-image {
        border-left: 3px solid #fff;
        height: 12rem;
        margin: 0 0 0 2rem;
        padding: 0 0 0 2rem;
        align-items: center;
    }
    
    #page-footer .div-footer .div-image img {
        height: 6rem;
    }
}