#no-opportunities {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: 1rem 0 0 0;
}

#no-opportunities p {
	color: var(--color-font-secondary);
	font-size: 1.1rem;
}

.div-card {
	width: 100%;	
	margin-top: 20px;
}

.div-card p {
	margin-top: 5px;
	margin-bottom: 25px;
}

.div-card strong {
	color: var(--color-font-primary);
	font-size: 20px;
	font-weight: 100;
	
}

@media (min-width: 1200px) {

	#no-opportunities p {
		font-size: 25px;
		color: var(--color-font-primary);
	}

	#no-opportunities img {
		width: 650px;
	}
}

