.div-image-opportunities {
	background-image: url(../images/semVagasTemplate.jpg);
	background-repeat: no-repeat;

	width: 100%;
	height: 30rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center;
}

.div-content-opportunities {
	align-items: center;
	justify-content: center;
	display: flex;
}
